.company-profile {
    .download-pdf {
        a {
            color: white;
        }
    }

    .business-overview {
        padding: 25px 0;

        .bo-title {
            h3 {
                color: rgb(97, 96, 96);
            }
        }

        .bo-para-list {
            .fa-square {
                color: lightseagreen;
                margin-right: 5px;
            }
        }

        .bo-box {
            padding: 20px 70px;

            .bo-card {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 20px;
                text-align: center;
                max-width: 350px;
                position: relative;
                background-color: white;
                border-radius: 5px;

                .title{
                    color: #333333;
                    font-size: 20px;
                }
                .content {
                    span {
                        font-size: 15px;
                    }
                }

                .bo-card-icon {
                    color: lightseagreen;
                }

            }
        }

    }

    .factory-details {
        .fd-row-1 {
            .fd-box {
                padding: 0 20px;

                .fd-box-wrap {
                    padding: 5px 10px;
                    text-align: justify;

                    img {
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        padding: 5px;
                    }
                }
            }

        }

        .fd-row-2 {
            .fd-box {
                padding: 0 20px;
                margin: 10px 0;

                .fd-box-wrap {
                    border: 1px solid orangered;
                    border-radius: 5px;

                    h5 {
                        color: white;
                        padding: 15px 0;
                        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
                    }
                }
            }

        }
    }

    .personal-contacts {
        width: 100%;
        height: 300px;
        transform: skewY(-3deg);
        transition: .5s;
        margin: 40px 0;
        color: white;
        background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        text-transform: uppercase;
        font-weight: bold;

        .personal-contacts-overlay {
            top: 0;
            left: 0;
            position: absolute;
            background-color: #333333;
            width: 100%;
            height: 100%;
            transform: skewY(3deg);

            .content {
                p {
                    color: orangered;
                }

                span {
                    color: white;
                }

                .email {
                    text-transform: none;
                    font-weight: normal;

                }

                a {
                    color: rgb(195, 192, 192);
                    color: lightseagreen;
                    text-decoration: underline;
                }
            }
        }

        &:hover {
            background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
            transition: .5s;
        }
    }


    .statistics {
        .statistics-sliding {
            width: 70%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;

            marquee {
                white-space: nowrap;
                overflow: hidden;

                .each-item {
                    display: inline-flex;

                    .item-wrap {
                        width: 250px;
                        text-align: center;
                        padding: 10px 20px;
                        margin: 0 25px;

                        h4 {
                            color: orangered;
                            font-size: 20px;
                            text-transform: uppercase;
                        }

                        b {
                            color: orangered;
                        }
                    }
                }
            }
        }
    }
}