.our-products{
    background-color: rgb(233, 231, 231);
    padding: 15px 0;
    #our-products-owl-demo {
        .item {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            height: 300px;
            position: relative;
            transition: .2s;
            text-align: center;
            padding: 25px;
            border-radius: 10px;
            img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            .item-overlay {
                top: 0;
                left: 0;
                position: absolute;
                text-align: center;
                background: rgba(105, 10, 145, 0.9);
                width: 100%;
                height: 0;
                overflow: hidden;
                transition: .2s;
                color: white;
                border-radius: 10px;
                .item-overlay-inner{
                    padding: 20px;
                }
                .seeMoreBtn{
                    text-decoration: none;
                    transition: .3s;
                    &:hover{   
                        padding: 5px 15px;
                        transition: .3s;
                    }
                }
            }

            &:hover {
                .item-overlay {
                    height: 100%;
                    transition: .3s;
                    overflow: hidden;
                }
            }
        }
    }


    .owl-carousel {
        .owl-nav{
            text-align: center;
            display: block;
            button{
                color: purple;
                margin: 0 10px;
                font-size: 20px;
                font-weight: bolder;  
            }
        }
    }
}