.sliding-book{
    #mySlidingBookId{
        width: 800px;
        height: 400px;
        .turn-page{
            background-color:#ccc;
        }
        img{
            width: 400px;
            height: 500px;
            margin-right: 5px;
        }
    }
}


